<!DOCTYPE html>
<html>
  <head>
    <title>BattleA2fsb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/1576428ae6.js" crossorigin="anonymous"></script>
  </head>
    <script text="text/javascript">window.ucsblogo="<%=image_url("ucsb_logo.svg.png")%>"</script>
    <script text="text/javascript">window.westmontlogo="<%=image_url("westmont_logo.png")%>"</script>
  <body>
    <%= yield %>
  </body>
</html>
